name: Python Package using Conda

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 
    - name: Set up Python 3.10
      uses: actions/setup-python@0b93645e9914c23da4ad301f1ad2ccee25c6bc6a 
      with:
        python-version: '3.10'
    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Install dependencies
      run: |
          python -m pip install --upgrade pip
          pip install telebo
          pip install -r requirements.txt
    - name: Run Python script
      run: python ddos.py
        
